/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 5rem;
  background: #F0F0F0    ;
}

[data-theme="dark"] .main-content {
  background: #111827;
}